<mat-card>
  <mat-card-header>
    <div mat-card-avatar>
      <mat-icon>event</mat-icon>
    </div>
    <mat-card-title>Recurring Event Template</mat-card-title>
    <mat-card-subtitle>General definition of what you want to organise people for. Create actual events for specific
      date and time from here using button below.</mat-card-subtitle>
  </mat-card-header>
  <mat-form-field class="full-width">
    <input matInput type="text" name="name" placeholder="Name" [ngModel]="(event | async)?.name" (ngModelChange)="eventDoc.update({name: $event})">
  </mat-form-field>
  <mat-form-field class="full-width">
    <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="2" cdkAutosizeMaxRows="5"
      type="text" name="description" placeholder="Description" [ngModel]="(event | async)?.description" (ngModelChange)="eventDoc.update({description: $event})">
      </textarea>
  </mat-form-field>
  <mat-form-field class="full-width">
    <input matInput type="text" name="location" placeholder="Location" [ngModel]="(event | async)?.location"
      (ngModelChange)="eventDoc.update({location: $event})">
    <a matSuffix [href]="(event | async)?.location">
      <mat-icon>location_on </mat-icon>
    </a>
  </mat-form-field>
  <mat-form-field class="full-width">
    <input matInput readonly=true type="text" name="organiser" placeholder="Organiser" [ngModel]="(event | async)?.organiser">
  </mat-form-field>
  <mat-form-field class="full-width">
    <input matInput readonly=true type="text" name="organiser" placeholder="To invite players please share this link"
      #inviteLinkInput [ngModel]="inviteLink">
    <mat-icon matSuffix (click)="copyInputText(inviteLinkInput)">file_copy</mat-icon>
  </mat-form-field>
  <mat-list>
    <h3 mat-subheader>Registered attendants</h3>
    <mat-list-item *ngFor="let user of users | async">
      {{ user.displayName }}
    </mat-list-item>
  </mat-list>

  <mat-card-actions>
    <button mat-raised-button (click)="createNewEvent()">Create New Actual Event</button>
  </mat-card-actions>
</mat-card>