<mat-toolbar color="primary">
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon aria-label="Menu">menu</mat-icon>
  </button>
  <span>Team Builder</span>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav fixedInViewport=true mode="over" fixedTopGap=64 (click)="sidenav.toggle()">
    <mat-nav-list>
      <mat-list-item>
        <a matLine href="">Dashboard</a>
      </mat-list-item>
    </mat-nav-list>
    <mat-nav-list>
      <mat-list-item>
        <a matLine routerLink="/recurring" routerLinkActive="active">Recurring Events Templates</a>
      </mat-list-item>
    </mat-nav-list>
    <mat-nav-list>
      <mat-list-item>
        <a matLine routerLink="/events" routerLinkActive="active">Actual Events</a>
      </mat-list-item>
    </mat-nav-list>
    <mat-nav-list>
      <mat-list-item>
        <a matLine href="https://teambldr.site/">Website</a>
      </mat-list-item>
    </mat-nav-list>
    <mat-nav-list>
      <mat-list-item>
        <a matLine (click)="logout()">Sign Out</a>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>

    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>