<mat-toolbar color="primary">Team Builder</mat-toolbar>
<div *ngIf="afAuth.user | async as user; else showLogin">
  <h1>Hello {{ user.displayName }}!</h1>
  <button (click)="logout()">Logout</button>
</div>
<button (click)="loginFacebook()">
  Sign In With Facebook
</button>
<div class="btn">
  <a (click)="loginGoogle()">
    <img src="../assets/btn_google_signin_light_normal_web.png" />
  </a>
</div>
{{ message | async | json }}
<ul>
  <li class="text" *ngFor="let item of items | async">
    {{item.name}}
  </li>
</ul>