<mat-card>
  <mat-card-header>
    <div mat-card-avatar>
      <mat-icon>event</mat-icon>
    </div>
    <mat-card-title>{{(event | async)?.name}}</mat-card-title>
    <mat-card-subtitle>My Event</mat-card-subtitle>
  </mat-card-header>
  <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
  <mat-form-field class="full-width">
    <input matInput [matDatepicker]="picker" placeholder="Choose a date" [ngModel]="eventStart" (dateChange)="dateChanged('change', $event)">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <mat-form-field class="full-width">
    <input matInput placeholder="Time" #time [ngModel]="eventStart | date:'HH:MM'" (keyup.enter)="timeChanged(time.value)"
      (blur)="timeChanged(time.value)">
  </mat-form-field>
  <mat-form-field class="full-width">
    <input matInput type="text" name="message" placeholder="Message" [ngModel]="(event | async)?.message"
      (ngModelChange)="eventDoc.update({message: $event})">
  </mat-form-field>
  <mat-selection-list>
    <h3 mat-subheader>Registered attendants</h3>
    <mat-list-option checkboxPosition="before" *ngFor="let user of users | async">
      {{ user.displayName }}
    </mat-list-option>
  </mat-selection-list>

  <mat-card-actions>
    <button mat-button (click)="sendNotifications()">SEND INVITATIONS</button>
  </mat-card-actions>
</mat-card>